<section class="thirteen columns">
    <h1>About</h1>
    <article>
        <p>
          Hi, this is Dogun Kim (김도건 in Korean). Nice to have you here!
          I studied Artificial Intelligence and Computer Vision in Master Degree program at Sungkyunkwan University AAI (Department of Applied Artificial Intelligence) as a member of <a href="http://dsl.skku.edu">Data eXperience Lab</a> advised by <a href="http://eunilpark.com">Dr. Eunil Park</a>.</br>
          I am a Deep Learning Researcher at the Hanwha Systems
         </br>
        </p>
    </article>
</section>
