<section class="thirteen columns">
    <h1>Patents</h1>

    <article>
        <header>
            다중 도메인 영상 복원 시스템 및 방법 (SYSTEM AND METHOD FOR MULTI-DOMAIN IMAGE RESTORATION)<br/>
            <span>등록일: 2021년 11월 8일  특허 발행기관·번호1020200118816</span>
        </header>
    </article>

    <article>
        <header>
            구강 상태 진단, 예측 또는 관리를 위한 치아영상의 분할 및 처리 방법(Methods for Segmentation and Processing of Dental Images for Diagnosing, Predicting, or Managing Oral Conditions)<br/>
            <span>등록일: 2019년 8월 22일  특허 발행기관·번호kr 1020190102993</span>
        </header>
    </article>
    
</section>
