<section class="thirteen columns">
    <h1>Photos</h1>

    <article>
        <header>
            <img src="{{ site.baseurl }}static/img/HW2.jpeg" class="project_image">
            <img src="{{ site.baseurl }}static/img/HW1.jpeg" class="project_image">
            <img src="{{ site.baseurl }}static/img/HM1.png" class="project_image">
            <img src="{{ site.baseurl }}static/img/HM2.jpg" class="project_image">
            <img src="{{ site.baseurl }}static/img/MS1.png" class="project_image">
            <img src="{{ site.baseurl }}static/img/MS2.png" class="project_image">
        </header>
    </article>


</section>
