<section class="content">
    <h1>Publications</h1>
    
    <h2>International Publications &nbsp; <span style="font-size: 90%;color: rgb(60, 60, 60);font-weight: normal;"></h2>
    <h2>[Online first/in press/accepted]</h2>
    
    <article>
        <header>
            A smart home dental care system: integration of deep learning, image sensors, and mobile controller<br/>
            <span><em>Kim, D.</em>, Ahn, S., Choi, J., & Park, E.* (accepted). (2021).</span><br/>
            <span>Journal of Ambient Intelligence and Humanized Computing (SCIE, JCR 2019 IF = 4.594, Q1 in Computer Science, Artificial Intelligence).</span>
        </header>
    </article>
        
        
    <h2>Domestic Publications</h2>
   
    <article>
        <header>
            Deep Learning Models for Autonomous Crack Detection System<br/>
            <span>자동화 균열 탐지 시스템을 위한 딥러닝 모델에 관한 연구</span><br/>
            <span>Ji HongGeun, Kim Jina, Hwang Syjung, <em>Kim Dogun</em>, Park Eunil, Kim Young Seok, Ryu Seung Ki. (2021).</span><br/>
            <span>KIPS Transactions on Software and Data Engineering (정보처리학회논문지: 소프트웨어 및 데이터 공학), 10(5), 161-168. ISSN: 2287-5905.</span>
        </header>
    </article>

    <article>
        <header>
            Tooth Diagnosis System Using Deep Learning<br/>
            <span>딥러닝을 이용한 치아진단 시스템</span><br/>
            <span><em>Do-Gun Kim</em>, Seung-Kyu Park, Woo-Young Choi, Gwang-gil Jeon. (2017).</span><br/>
            <span>Korea Information Processing Society (한국정보처리학회:학술대회논문집), 757-759.</span>
        </header>
    </article>

</section>
