<section class="thirteen columns">
    <h1>Publications</h1>
        
    <article>
        <header>
            Computational analysis of a collaboration network on human-computer interaction in Korea<br/>
            <span>Seungpeel Lee†, Jisu Kim†, Eun Been Choi†, Sojung Shin†, <em>Dogun Kim</em>†, HyeRim Yu, Seoyun Kim, Wongi. Na, and Eunil Park †Equally contributed first authors (2022).</span><br/>
            <span>Mathematical Biosciences and Engineering, 19(12), 13911–13927 (SCIE, JCR 2021 IF=2.194).</span>
        </header>
    </article>
                
    <article>
        <header>
            Thermal Image Super-Resolution Challenge Results - PBVS 2022<br/>
            <span>Rafael E. Rivadeneira, Angel D. Sappa, Boris X. Vintimilla, Jin Kim, <em>Dogun Kim</em>, Zhihao Li, Yingchun Jian,
                  Bo Yan, Leilei Cao, Fengliang Qi, Hongbin Wang, Rongyuan Wu, Lingchen Sun, Yongqiang Zhao, Lin Li,
                  Kai Wang, Yicheng Wang, Xuanming Zhang, Huiyuan Wei, Chonghua Lv, Qigong Sun, Xiaolin Tian, Zhuang Jia, Jiakui Hu,
                  Chenyang Wang, Zhiwei Zhong, Xianming Liu and Junjun Jiang (2022).</span><br/>
            <span>In Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR) Workshop (PBVS '22).</span>
        </header>
        
    </article>
    
    <article>
        <header>
            A smart home dental care system: integration of deep learning, image sensors, and mobile controller<br/>
            <span><em>Kim, D.</em>, Ahn, S., Choi, J., & Park, E.*. (2021).</span><br/>
            <span>Journal of Ambient Intelligence and Humanized Computing (SCIE, JCR 2020 IF=7.104, Q1 in Computer Science, Artificial Intelligence).</span>
        </header>
    </article>
           
    <article>
        <header>
            Deep Learning Models for Autonomous Crack Detection System<br/>
            <span>자동화 균열 탐지 시스템을 위한 딥러닝 모델에 관한 연구</span><br/>
            <span>Ji HongGeun, Kim Jina, Hwang Syjung, <em>Kim Dogun</em>, Park Eunil, Kim Young Seok, Ryu Seung Ki. (2021).</span><br/>
            <span>KIPS Transactions on Software and Data Engineering (정보처리학회논문지: 소프트웨어 및 데이터 공학), 10(5), 161-168. ISSN: 2287-5905.</span>
        </header>
    </article>

    <article>
        <header>
            Tooth Diagnosis System Using Deep Learning<br/>
            <span>딥러닝을 이용한 치아진단 시스템</span><br/>
            <span><em>Do-Gun Kim</em>, Seung-Kyu Park, Woo-Young Choi, Gwang-gil Jeon. (2017).</span><br/>
            <span>Korea Information Processing Society (한국정보처리학회:학술대회논문집), 757-759.</span>
        </header>
    </article>

</section>
